{% extends 'base.html' %} 

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 card mr-4 mb-3 post-content">
            <div class="card-body">
                <h1>{{ post.title }}</h1>
                <p class="card-text ">{{ post.content|linebreaksbr }}</p>
                <a class="btn btn-small" href="{% url 'post_edit' slug=post.slug %}" role="button">Edit Post</a>
            </div>

        </div>

        {% block recent_posts %} {% include 'recent_posts.html' %} {% endblock recent_posts %}
        
    </div>
</div>

{% endblock content %}